#header .top-header .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #292929;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #header .top-header .social-links a:hover {
    background: #ffc451;
    color: #151515;
    text-decoration: none;
  }

@media (max-width: 390px) {
  #header .top-header .social-links a{
    padding: 3px 0;
    width: 25px;
    height: 25px;
  }
  .social-links{
    margin-left: 50px;
  }
  .sm-font-11{
    font-size: 11px;
  }
  .mobile-nav-toggle.bi-list{
    font-size: 35px;
    right: -150px !important;
  }
  .navbar-mobile .mobile-nav-toggle{
    position: fixed !important;
  }
}