<!-- ======= banner Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8 col-md-12">
          <h1> {{ bannerTitle }}</h1>
          <h2>{{ bannerSubTitle}} </h2>
      </div>
      </div>

  </div>
</section><!-- End banner -->


<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12 col-md-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-center d-flex justify-content-center" data-aos="fade-right" data-aos-delay="100">
            <div class="middle-content">
                <h3>{{ title}}</h3>
                <p>{{content}}</p>
                <a href="#" class="btn btn-md">{{btnTitle}}</a>
            </div>
        </div>
      </div>
    </div>
</section>

<!-- Why Kesar Creatives? -->
<section class="bg-image">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 col-md-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-center d-flex justify-content-center" data-aos="fade-right" data-aos-delay="100">
          <h1 class="text-white">{{s2_title}}</h1>
        </div>
      </div>
      <div class="row text-center">
        <div *ngFor="let Kesar of Kesars" class="col-lg-4 col-md-4 col-sm-6 mt-5">
          <div>
            <img src="../../../assets/img/{{Kesar.img}}" alt="">
          </div>
          <div class="mt-4 mb-4 text-white">
            <h2 class="mt-2">{{ Kesar.title}}</h2>
            <span> {{Kesar.subtitle}} </span>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- end Why Kesar Creatives? -->

<!-- Technology -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="technology-title">{{ technologyTitle}}</h2>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of technologyImgs" class="col-lg-2 col-md-2 col-sm-4 mt-2">
        <div class="te-col" [class.te-col-bg] = "item?.img_bg">
          <img class="te-img" src="../../../assets/img/{{item?.img}}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Technology -->

<!-- our Products -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="technology-title">{{ ourProductstitle}}</h2>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of ourProducts" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
        <div class="icon-box">
          <div class="icon">
            <img src="../../../assets/img/{{item.img}}" alt="" height="150" width="150">
          </div>
          <h4>{{item.title}}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end our Products -->

<!-- Our Services -->
<section class="bg-color">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 col-md-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-center d-flex justify-content-center" data-aos="fade-right" data-aos-delay="100">
          <h1 class="text-white">{{OurServicesTitle}}</h1>
        </div>
      </div>
      <div class="row text-center">
        <div *ngFor="let OurServices of OurServicess" class="col-lg-3 col-md-3 col-sm-6 mt-5">
          <div>
            <img src="../../../assets/img/{{OurServices.img}}" alt="">
          </div>
          <div class="mt-4 mb-4 text-white">
            <h2 class="mt-2">{{ OurServices.title}}</h2>
            <span> {{OurServices.subtitle}} </span>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- end Our Services -->

<!-- Industry Presence -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center mb-4">
        <h2 class="technology-title m-3">{{ industryPresenceTitle }}</h2>
        <span class="m-3"> {{ industryPresenceSubtitle }} </span>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of industryPresences" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
        <div class="icon-box">
          <div class="icon">
            <img src="../../../assets/img/{{item.img}}" alt="" height="150" width="150">
          </div>
          <h4>{{item.title}}</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Industry Presence -->



<section>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
        <div class="web-bg">
          <div class="web-img">
            <img class="img" src="../../../assets/img/web-design.png" alt="">
          </div>
          <div class="web-title">
            <h4>Web Design</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
        <div class="web-dev-bg">
          <div class="web-img">
            <img class="img" src="../../../assets/img/webDevelopment-kc.png" alt="">
          </div>
          <div class="web-dev-title">
            <h4>Web Development</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
        <div class="web-hire-bg">
          <div class="web-img">
            <img class="img" src="../../../assets/img/hire_devloper-kc1-1.png" alt="">
          </div>
          <div class="web-hire-title">
            <h4>Hire Dedicated Developer</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center mb-4">
        <h1>
          {{OurProfileTitle}}
        </h1>
      </div>
    </div>
    <ng-image-slider 
    [imageSize]="imageSizeOurProfile" 
    [imagePopup]="false"
    [slideImage]="2"
    [autoSlide]="true"
    [infinite]="true"
    [images]="imgCollection" #nav>
  </ng-image-slider>
  </div>
</section>
<!-- blog -->
<section>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 text-center mb-4">
        <h1>
          {{blogtitle}}
        </h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
          <div class="carousel-item active" [class.active] = "item.id == '1'" *ngFor="let item of blogslider1">
            <!-- {{item.id}} -->
            <a routerLink="/blog/{{item.id}}">
              <img class="d-block w-100" src="{{item.image}}" alt="First slide">
            </a>
          </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end blog -->