.middle-content{
    padding: 0 100px 0 100px;
    width: 70%;
}
.btn {
    padding: 15px;
    background-color: #0d3c55;
    color: white;
    border-radius: 35px;
}
.btn:hover{
    background-color: #ffc451;
}
.bg-image{
    background-image: url("../../../assets/img/home-sec-bg.jpg");
}
.technology-title{
    color: #006198;
    font-weight: bold;
    font-size: 40px;
}
.te-col{
    width: 200px;
    height: 155px;
    text-align: center;
    border: 1px solid #546c792e;
}
.te-col-bg{
    background: #016198;
}
.te-img{
    position: relative;
    top: 35px;
}
.m-r-l-45{
    margin-right: 45px;
    margin-left: 45px;
}


.bg-color{
    background-color: #01334c;
}

.web-bg{
 background-color: #215a94;
}
.web-dev-bg{
    background-color: #57aee3;
}
.web-hire-bg{
    background-color: #8cac23;
}
.img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.web-img{
    width: 400px;
    height: 400px;
    vertical-align: top;
}

.web-title{
    text-align: center;
    background-color: #2144947d;
    height: 51px;
    padding: 10px;
    color: white;
}
.web-dev-title{
    text-align: center;
    background-color: #5695e3ab;
    height: 51px;
    padding: 10px;
    color: white;
}
.web-hire-title{
    text-align: center;
    background-color: #33ac2466;
    height: 51px;
    padding: 10px;
    color: white;

}