

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 blog-col mt-3">
                        <div class="text-center">
                            <a routerLink="/blog/{{blog.id}}">
                                <img src="{{blog.image}}" alt="" height="340" width="600">
                            </a>
                            <div class="blog-date">
                                <span>{{ blog.date }}</span>
                            </div>
                        </div>
                        <div class="blog-p-l">
                            <div class="">
                                <span>
                                    <i class="fa fa-folder"></i>
                                    Posted in
                                    <a routerLink="/category/{{blog.posted_in}}" class="tag">
                                        {{blog.posted_in}}
                                    </a>
                                </span>
                            </div>
                            <div class="mt-3">
                                <a routerLink="/blog/{{blog.id}}">
                                    <h2>{{ blog.title }}</h2>
                                </a>
                            </div>
                            <div class="mt-2">
                                <p>
                                    {{ blog.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
                <div class="row ml-2 blog-search">
                    <div class="col-lg-12">
                        <div>
                            <input type="text" class="form-control rounded" placeholder="Search..." >
                            <span class="blog-search-icon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-5">
                        <h2 class="p-2">
                            CATEGORIES
                        </h2>
                        <div class="p-2">
                            <a routerLink="/category/database" routerLinkActive="active">
                                <p>Database({{DatabaseCount.length}})</p>
                            </a>
                            <a routerLink="/category/react" routerLinkActive="active">
                                <p>React({{reactCount.length}})</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>