<section class="bg-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-center d-flex justify-content-center" data-aos="fade-right" data-aos-delay="100">
            <div class="middle-content">
                <h3>{{title}}</h3>
            </div>
        </div>
      </div>
    </div>
</section>

<!-- Our Story -->
<section class="bg-about-color">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-12 col-md-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-center d-flex justify-content-center" data-aos="fade-right" data-aos-delay="100">
            <h1 class="text-white">{{ourStory}}</h1>
          </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12">
                <p class="text-white mt-2" >Kesar Creatives is an adept, agile footed custom application services provider that always keep its work up to date. From day one of inception we stay focused on providing the best solutions to our customer and keeping our client satisfied by our outstanding services.</p>
                <p class="text-white mt-2" >At Kesar Creatives we deliver substantial business value on each and every client engagement by combining industry specific business expertise and technical skill an innovative technology and business driven professional firm</p>
                <p class="text-white mt-2" >We are committed towards building long lasting relationship with our clients by ensuring success and satisfaction.</p>
            </div>
        </div>
    </div>
</section>
  <!-- end Our Story -->

<!-- Our Vision -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h1 class="our-vision-title-color">Our Vision</h1>
                        <span class="line"></span>
                        <p class="mt-5">
                            Our vision is to develop in a constant manner and grow as a major IT service provider to become a leading performer, in providing quality Web and Software Development solutions in the competitive global marketplace. Our professional, flexible and integrated process reflects in what we do. We always guide our customers to success. We have the ability to accelerate and quickly share the great work or products of your organization or business.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img src="../../../assets/img/vision_kc.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- end Our Vision -->

<!-- Our Mission -->
<section class="bg-color-our-mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img src="../../../assets/img/Our_Mission.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h1 class="text-white">Our Mission</h1>
                        <span class="mission-line"></span>
                        <p class="mt-5 text-white">
                            Our mission is to deliver optimal solutions with top quality and best services at affordable prices. In Our Business Policy Customer satisfaction is given top priority. Our team is very friendly in dealings to the customers and it helps us to retain lifelong relationship with our existing clients and expand our customer circle worldwide. We always try to improve the quality of our products by exploring innovative ideas and new techniques.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Our Mission -->

<!-- Our Core Values -->
<section>
    <div class="container border-bottom">
        <div class="row text-center">
            <div class="col-lg-12 col-sm-12">
                <h1 class="our-vision-title-color">Our Core Values</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3 col-sm-6 text-center">
                <div>
                    <img src="../../../assets/img/Our_Core_Values_1.png" alt="">
                    <h3 class="mt-4">Client Satisfaction</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center">
                <div>
                    <img src="../../../assets/img/Our_Core_Values_2.png" alt="">
                    <h3 class="mt-4">Speed & Efficiency</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center">
                <div>
                    <img src="../../../assets/img/Our_Core_Values_3.png" alt="">
                    <h3 class="mt-4">Great Place to Work</h3>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center">
                <div>
                    <img src="../../../assets/img/Our_Core_Values_4.png" alt="">
                    <h3 class="mt-4">Excellent Quality</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Our Core Values -->

<!-- Our Vision -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img src="../../../assets/img/vision_kc.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 ">
                        <p class="">
                            Our vision is to develop in a constant manner and grow as a major IT service provider to become a leading performer, in providing quality Web and Software Development solutions in the competitive global marketplace. Our professional, flexible and integrated process reflects in what we do. We always guide our customers to success. We have the ability to accelerate and quickly share the great work or products of your organization or business.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Our Vision -->