.bg-blog{
    background-image: url(../../../assets/img/blog/background-blog.jpg);
    background-position: center 30%;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.blog-col{
    border: 1px solid;
    border-style: groove;
    padding: 5px;
}
.blog-date{
    position: absolute;
    top: 5px;
    left: 139px;
    min-width: 90px;
    padding: 16px 20px;
    background: rgba(19,149,186,0.9);
    text-align: center;
}
.blog-date span{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.blog-p-l{
    position: relative;
    bottom: -1px;
    left: 0;
    width: 100%;
    padding: 14px;
}
.blog-p-l .tag{
    color: #ffc451;
    cursor: pointer;
}
a{
    color: black;
}
a:hover{
    color: #ffc451;
}
.active{
    color: #ffc451;
}
.blog-search{
    border-left: 1px solid #aba7a7;
}
.blog-search-icon{
    position: absolute;
    top: 6px;
    right: 30px;

}

@media (max-width: 991px) {
    img{
        width: 100%;
    }
    section{
        padding: 10px 0;
    }
}